Repository ArthurKa/tic-tac-toe: changes, and which lint-staged commands are due for each by the changed paths.
All: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash, echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings | bash0

chore: dockerize project
  .gitignore
  docker-compose.yml
  helpers/make-package-docker-jsons.js
  package-lock.json
  package.json
  packages/api/Dockerfile
  packages/common/Dockerfile
  packages/common/package.json
  packages/website/Dockerfile
  packages/website/package.json
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash

chore: add `github-ci.yml`
  .github/workflows/github-ci.yml
Due: none

feat: implement on load cup positions sharing
  package-lock.json
  packages/api/package.json
  packages/api/src/connectSocket.ts
  packages/common/src/socket-types.ts
  packages/website/src/components/Cup.tsx
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash, echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings | bash0

fix: emit `shareCupPosition` to all in the room because of lost id
  packages/api/src/connectSocket.ts
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash

chore: fix package caret version
  package-lock.json
  packages/api/package.json
Due: none

chore: change `github-ci.yml` `runs-on` field due stuck action in a queue
  .github/workflows/github-ci.yml
Due: none

feat: implement mouse moving by [-1; 1] screen coordinates
  .vscode/settings.json
  package-lock.json
  packages/api/package.json
  packages/api/src/connectSocket.ts
  packages/api/src/custom.d.ts
  packages/api/src/envVariables.ts
  packages/api/src/services/getLocationByIP.ts
  packages/api/src/services/index.ts
  packages/api/src/types.ts
  packages/common/src/socket-types.ts
  packages/website/src/App.tsx
  packages/website/src/components/Lights.tsx
  packages/website/src/envVariables.ts
  packages/website/src/icons.ts
  packages/website/src/services/index.ts
  packages/website/src/services/mouseMove.ts
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash, echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings | bash0

chore: remove Docker container danglings
  packages/api/Dockerfile
  packages/common/Dockerfile
  packages/website/Dockerfile
Due: none

chore: add docker system prunning to CI
  .github/workflows/github-ci.yml
Due: none

build: add `restart: unless-stopped` to containers in `docker-compose.yml`
  docker-compose.yml
Due: none

build: add `ntfy.sh` push notifications with deploy results
  .github/workflows/github-ci.yml
  .vscode/settings.json
Due: none

chore: fixate node version to v8.x.x in `start-cheks.js`
  helpers/start-checks.js
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash

chore: make `workspaces.packages packages/*` in `package.json`
  helpers/check-no-sub-node-modules.js
  helpers/eslint.js
  helpers/make-package-docker-jsons.js
  package.json
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash

build: fix CI flow exit code on error
  .github/workflows/github-ci.yml
Due: none

chore: improve inst-staged configuration
  .eslintignore
  .husky/pre-commit
  .lintstagedrc.js
  .lintstagedrc.json
  package-lock.json
  package.json
  packages/api/package.json
  packages/common/package.json
  packages/website/package.json
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash

chore: move on commit ts checks from `pre-commit` to `lint-staged`
  .husky/pre-commit
  .lintstagedrc.js
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash

feat: stop `common` container in 1 minute after start
  docker-compose.yml
  packages/common/Dockerfile
Due: none

build: make Docker build improvements
  .github/workflows/github-ci.yml
  docker-compose.yml
  packages/api/Dockerfile
  packages/common/Dockerfile
  packages/website/Dockerfile
Due: none

build: make Docker build improvements
  packages/api/Dockerfile
  packages/common/Dockerfile
  packages/website/Dockerfile
Due: none

feat: make some improvements
  .github/workflows/github-ci.yml
  .vscode/settings.json
  package.json
  packages/website/src/App.tsx
  packages/website/src/custom.d.ts
  packages/website/webpack.config.js
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash, echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings | bash0

feat: improve experimental fetch type support
  .vscode/settings.json
  packages/api/src/custom.d.ts
Due: echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash

Path conditions:
  echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings 0 | bash: ((any of: *.js) or (any of: *.ts)) or (any of: *.jsx)
  echo npm run lint:check -w=packages/{common,website,api} -- --max-warnings | bash0: any of: *.tsx
